
/* #NAVBAR */

.navbar.navbar-expand-lg.navbar-light.bg-light{
      
      background:#f0f0f0 ;
      width: 100%;
      border-bottom-left-radius:0.5cm ;
      border-bottom-right-radius:0.5cm ;
      
      

      
}
/* .sticky{
    position: fixed;
    top:0;
    width:100%;
} */

.profileimg{
    border-radius: 0.5cm;
}

.btn.btn-light{

    background-color: transparent;
    border-color: transparent;
}
.btn.btn-light:hover{

    background-color: rgb(126, 120, 120);
    color:whitesmoke
}

br{
    height: 0.1cm;
}
.nav-item{
    margin-left:40px;
}
.dropdown-item{
    width:50% !important;
    margin-right: 0px !important;
    padding:0px !important;
}

.profclss{
    position: relative;
}

/* first landing page */
.container-fluid{
    
    padding:2px;
    
}
.imgdash-fluid{

    height:700px;
    width : 100%;
    border-radius: 0.5cm;
    filter: blur(5px);
    
    
    
    
}
.head{
    position : absolute;
    top: 200px;
    right:50px;
    left:50px;
    text-align: center;
    
    

}
h1{
    font-size: 80px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.text{

    position:absolute;
    color:white;
    font-size: large;
    font-family: 'PT Sans', sans-serif;
    top:390px;
    bottom:80px;
    text-align: center;
    justify-content: center;
    padding: 80px;
    padding-top: 0;
    padding-bottom: 0;

}

.butth{

    position: absolute;
    top:600px;
    left:50px;
    right:50px;
    text-align: center;
}
.btn.btn-light.cus{

    background-color: #ffc38b;
}

.btn.btn-light.cus:hover{

    background-color: #888888;
}

/* media queries */

@media(max-width:){

}

/* 2nd dashboard */

.d-block.w-100{
    height:580px;

}

.container-fluid.slider{

    padding: 10px;
    background-color: #eee7e7;
   
    
}
.carousel-inner{

    border-radius: 0.5cm;
}


/* 3rd landing page */

.swiper-container {
    width: 100%;
    height: 500px;
    padding:80px 80px 80px 80px;
    
    
    
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background-size: cover;
    height: 500px;
    width: 400px;
    
    

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide>h1{

    padding-top:290px;
    font-family: sans-serif;
    text-align: bottom;
    font-size: 20px;
    font-weight: 50;
  }
  .container-fluid.swipe{
    background-color: black;
    padding:50px;

  }
  .swiper-button-prev{
      color: #eee7e7;
  }
  .swiper-button-next{
      color: #eee7e7;
  }

  .caption{

    position:absolute;
    top:89rem;
    padding: 30px;
    padding-left: 10px;
    

  }
  .caption>h1{
       color :rgb(189, 188, 188);
       font-size: 40px;
       font-family: 'Times New Roman', Times, serif;
  }

/* 4th page */

